%h1 Listing orders

%table
  %tr
    %th Customer name
    %th Customer email
    %th Description
    %th Brand
    %th Frame
    %th Price
    %th Paid for on
    %th Completed on
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.customer_name
      %td= order.customer_email
      %td= order.description
      %td= order.frame.brand.name if order.frame.present? && order.frame.brand.present?
      %td= order.frame.name if order.frame.present?
      %td= order.price
      %td= order.paid_for_on
      %td= order.completed_on
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
= link_to 'Homepage', root_path
