%p#notice= notice

%p
  %b Name:
  = @brand.name

%p
  %b Brand orders
  - if @brand.paid_but_incomplete_orders.any?
    %ul
      - @brand.orders.each do |order|
        %li= order.customer_name

= link_to 'Edit', edit_brand_path(@brand)
\|
= link_to 'Back', brands_path
